In [ ]:
lenght=int(input("enter lenght"))
braeth=int(input("enter breath"))
area=lenght*breath
print(area)

In [1]:
i=input("z")

z

In [ ]:
x=int(input("enter lenght"))
y=int(input("enter breath"))
a=int(x*y)
print(a)

In [ ]:
x,y=2,4
print(x,y)
x,y=y,y
print(x,y)

In [2]:
x=int(input("enetr ist no"))
y=int(input("enter 2nd no"))
print(x,y)
x,y=y,x
print(x,y)

enetr ist no6
enter 2nd no4
6 4
4 6

In [3]:
x=int(input("enetr ist no"))
y=int(input("enter 2nd no"))
z=int(input("enter 3rd no"))
print(x,y,z)
x,y,z=z,y,x
print(x,y,z)

enetr ist no6
enter 2nd no7
enter 3rd no8
6 7 8
8 7 6

In [5]:
x=int(input("ist no"))
y=int(input("2nd no"))
print(x,y)
x=x+y
y=x-y
x=x-y
print(x,y)

ist no7
2nd no8
7 8
8 7

In [1]:
eq1=Eq((x+y+z),1)
print("equation")
print(eq)
eq2=Eq((x-y-2^xz))
print("Equation 2")
print(eq2)

NameError: name 'Eq' is not defined

In [26]:
import numpy as np
from sympy import symbols,Eq,solve
x , y , z = symbols('x,y,z')
eq1 = Eq((x+y+z),1)
print("equation1")
print(eq1)
eq2 = Eq((x-y+2*z),1)
print("Equation2")
print(eq2)
eq3 = Eq ((2*x-y+2*z),1)
print("Equation")
print(eq3)
print("The sol is")
print(solve((eq1, eq2, eq3),(x,y,z)))

equation1
Eq(x + y + z, 1)
Equation2
Eq(x - y + 2*z, 1)
Equation
Eq(2*x - y + 2*z, 1)
The sol is
{x: 0, y: 1/3, z: 2/3}

In [30]:
import numpy as  np
from sympy import symbols,Eq,solve
A = np.array([[8,3,-2],[-4,7,5],[3,4,-12]])
b = np.array([9,15,35])
x = np.linalg.solve(A,b)
print(x)

[-0.58226371  3.22870478 -1.98599767]

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
a=3
b=3
print(a is b)

True

In [15]:
a=6
b=6
print("id of a : ", id(a))
print("id of b : ", id(b))

id of a :  140735928701896
id of b :  140735928701896

var="umar alam is great"
print(

In [16]:
var="umar alam is great"
print("great" in var)

True

In [17]:
var="umar alam is great"
print("great"  not in var)

False

In [33]:
a="umar"
print(3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2705722052.py, line 2)

In [25]:
var="umar alam is great"
print("great" in var)

True

In [34]:
a="ram"
b="sha"
print(a==b)

False

In [4]:
a=7
b=7
print(id(a))
print(id(b))

140735914152936
140735914152936

In [6]:
a=7
b=7
print(id(a),id(b))

140735914152936 140735914152936

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
count=3
while(count<7):
    count=count + 1
    print("salman khan")
else:
    print("srk")

salman khan
salman khan
salman khan
salman khan
srk

In [ ]:
age=32
while age > 18
    print("sdsd")

In [2]:
w=0
while w<10:
    print("my name is sheela")
    w=w+2

my name is sheela
my name is sheela
my name is sheela
my name is sheela
my name is sheela

In [5]:
i=2
while i<10:
    i=i+2
    print("my name is sheela")
else:
    print("munni badnaam hui")

my name is sheela
my name is sheela
my name is sheela
my name is sheela
munni badnaam hui

In [1]:
x=int(input("enter the number"))
i=0
while i<=x:
    print(i**2)
    i=i+1

enter the number7
0
1
4
9
16
25
36
49

In [2]:
x=int(input("enter the age"))
if x>18:
    print("eligible")
else:
    print("htt mc")

enter the age77
eligible

In [4]:
a=int(input("enter the days"))
if a>20:
    print("you have tp pay",20*a,"rupee")
elif a>15:
    print("you have tp pay",15*a,"rupee")
elif a>10:
    ("you have tp pay",10*a,"rupee")
elif a>5:
    print("you have tp pay",5*a,"rupee")
else:
    print("you have tp pay",2*a,"rupee")

enter the days2
you have tp pay 4 rupee

# take valyuye from user and make multiple till 10

In [6]:
v=int(input("enter the value"))
i=1
j=10
while i <j:
    print(v*i)
    i=i+1

enter the value5
5
10
15
20
25
30
35
40
45

# string ko repeat krne ke liya code

In [4]:
x=0
y=10
while x<y :
    print("alam")
    x=x+1

alam
alam
alam
alam
alam
alam
alam
alam
alam
alam

# using else statement in while looops

In [1]:
start=0
end=20
while start<end:
    print("mc")
    start=start+1
else:
    print("bc")

mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
bc

In [2]:
start=0
end=20
while start<end:
    print("mc")
    start=start+1
else:
    print("bc")

mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
mc
bc

# IF 500 UNIT USED PAY 5 RUPEE AS PER UNIT IF 700 UNIT USED PAY 7 RUPEE AS PER UNIT IF 1000 UNIT USED PAY 10 RUPEE AS PER UNIT IF M0RE THAN 1000 UNIT USED PPAY 15 RUPEE AS PER UNIT

In [13]:
def electricitybill(e):
    if e<500:
        print("your electrucity bill is",e*5,"rupees")
    elif e>=500 and e<700:
        print("your electrucity bill is",e*10,"rupees")
    elif e>=700 and e<1000:
        print("your electrucity bill is",e*12,"rupees")
    elif e>=1000:
        print(("your electrucity bill is",e*15,"rupees"))

In [14]:
def inst():
    print("your last date to pay bill is xxxx")
    print("you have to pay fine if you will not pay as per time")
    print("delhi sarita vihar")

In [15]:
x=input("enter the name")
e=int(input("enter the unit "))
print()
electricitybill(e)
print()
inst()

enter the nameimran
enter the unit 1000

('your electrucity bill is', 15000, 'rupees')

your last date to pay bill is xxxx
you have to pay fine if you will not pay as per time
delhi sarita vihar

In [16]:
for i in range(3):
    x=input("enter the name")
    e=int(input("enter the unit "))
    print()
    electricitybill(e)
    print()
    inst()

enter the namenemat
enter the unit 400

your electrucity bill is 2000 rupees

your last date to pay bill is xxxx
you have to pay fine if you will not pay as per time
delhi sarita vihar
enter the nameazmat
enter the unit 800

your electrucity bill is 9600 rupees

your last date to pay bill is xxxx
you have to pay fine if you will not pay as per time
delhi sarita vihar
enter the nameummat
enter the unit 1200

('your electrucity bill is', 18000, 'rupees')

your last date to pay bill is xxxx
you have to pay fine if you will not pay as per time
delhi sarita vihar

IF 500 UNIT USED PAY 5 RUPEE AS PER UNIT IF 700 UNIT USED PAY 7 RUPEE AS PER UNIT IF 1000 UNIT USED PAY 10 RUPEE AS PER UNIT IF M0RE THAN 1000 UNIT USED PPAY 15 RUPEE AS PER UNIT

In [ ]:
n=input("enter ypur name")
e=int(input("bill consumed"))
if e<=500:
    print("your electricity bill is:",e*5)
elif e<=700 or e>500:
    print("your electricity bill is:",e*7)
elif e<=1000 or e>700:
    print("your electricity bill is:",e*10)
else:
    print("your electricity bill is:",e*15)

In [5]:
def inst():
    print("your last date to pay 29")
    print("it will charge if you will not pay on time")
    print("delhi new nagar")

In [6]:
def electricity_bill(e):
    if e<=500:
        print("your electricity bill is:",e*5)
    elif e>500 and e<=700:
        print("your electricity bill is:",e*7)
    elif e>700 and e<=1000:
        print("your electricity bill is:",e*10)
    else:
        print("your electricity bill is:",e*15)

In [7]:
a=input("enter your name")
e=int(input("enter the unit you have consumed"))
electricity_bill(e)
print()
inst()

enter your namealam
enter the unit you have consumed900
your electricity bill is: 9000

your last date to pay 29
it will charge if you will not pay on time
delhi new nagar

In [8]:
for i in range(3):
    a=input("enter your name")
    e=int(input("enter the unit you have consumed"))
    electricity_bill(e)
    print()
    inst()

enter your namealam
enter the unit you have consumed200
your electricity bill is: 1000

your last date to pay 29
it will charge if you will not pay on time
delhi new nagar
enter your nameumar
enter the unit you have consumed600
your electricity bill is: 4200

your last date to pay 29
it will charge if you will not pay on time
delhi new nagar
enter your nameimran
enter the unit you have consumed1100
your electricity bill is: 16500

your last date to pay 29
it will charge if you will not pay on time
delhi new nagar

In [ ]:
x=int(input(""))

# making a calculator

In [ ]:
a=int(input(enter the number))

# find the average marks of 9 student  a class in python subject

In [2]:
a=int(input("enter the marks of the ist student"))
b=int(input("enter the marks of the 2nd student"))
c=int(input("enter the marks of the 3rd student"))
d=int(input("enter the marks of the 4th student"))
e=int(input("enter the marks of the 5th student"))
f=int(input("enter the marks of the 6th student"))
g=int(input("enter the marks of the 7th student"))
h=int(input("enter the marks of the 8th student"))
i=int(input("enter the marks of the 9th student"))
x=a+b+c+d+e+f+g+h+i
y=x/9
print(y)

enter the marks of the ist student54
enter the marks of the 2nd student56
enter the marks of the 3rd student45
enter the marks of the 4th student65
enter the marks of the 5th student76
enter the marks of the 6th student88
enter the marks of the 7th student78
enter the marks of the 8th student76
enter the marks of the 9th student56
66.0

# find the avg of natural no. 1 to 67

In [3]:
s=sum(range(1,68))
x=s/67
print(x)

34.0

# The average of 10 numbers is 23. If each number is increased by 4, what will the new average be?

In [13]:
te=10
avg=23
os=te*avg
ns=os+(4*te)
n_avg=ns/te
print(na)

27.0

# The average marks of 10 students is 99 . If one student got zero marks what will me average marks of remaining students.

In [6]:
#the total sum of student is
os=99*10
#the new sum 
ns=990-99
#the new avg
na=891/10
print(na)

89.1

# The average of 7 consecutive numbers is 20. What is the largest of these numbers?

In [6]:
#count of number is 7
# avg of the number is 20
avg=20
e=7
x=
sum=avg*e
sum=(x+x+1+x+2+x+3+x+4+x+5+x+6)/e
summ=7x+21
print(sum)

SyntaxError: invalid decimal literal (139493925.py, line 9)

# WRITE A PYHTON CODE TO CALCULATE INCOME TAX SUING TAX SLB

In [11]:
income=int(input("enter your income"))
if income>250000 and income<=500000:
    print("you have to pay",income*5/100)
elif income>500000 and income<=750000:
    print("you have to pay",income*10/100)
elif income>750000 and income<=1000000:
    print("you have to pay",income*15/100)
elif income>1000000 and income<=1250000:
    print("you have to pay",income*20/100)
elif income>1250000 and income<=1500000:
    print("you have to pay",income*25/100)
elif income>1500000:
    print("you have to pay",income*30/100)
else:
    print("do not need to pay  tax gareeeb")

enter your income100000
do not need to pay  tax gareeeb

# finding mean

In [12]:
import statistics

In [30]:
data=[1,3,5,7,9,11,13,15,17,19]
mean=statistics.mean(data)
print(mean)

10

In [37]:
data=[1,3,5,7,9,11,13,15,17,19]
total=sum(data)
n=len(data)
mean=total/n
print(mean)

10.0

# finding median

In [2]:
import numpy as np

In [26]:
data=[32, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30, 35, 32, 18, 39, 12, 20]
median=np.median(data)
print(median)

21.0

In [8]:
import statistics

In [15]:
data=[32, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30, 35, 32, 18, 39, 12, 20
]
median=statistics.median(data)
print(median)

21.0

# finding mode

In [17]:
import statistics

In [20]:
data=[21, 19, 62, 21, 66, 28, 66, 48, 79, 59, 28, 62, 63, 63, 48, 66, 59, 66, 94, 79, 19,94]
mode=statistics.mode(data)
print(mode)#mode is the most frequent number in data set

SyntaxError: invalid non-printable character U+00A0 (2583221265.py, line 1)

In [18]:
eng=int(input("enter your marks or english"))
hin=int(input("enter your marks or hindi"))
maths=int(input("enter your marks or maths"))
sci=int(input("enter your marks or science"))
sst=int(input("enter your marks or social science"))
total=eng+hin+maths+sci+sst
persentage=total/5
print("your average marks is",persentage)

if persentage<33:
    print("you are fail  D GRADE")
elif persentage>=33 and persentage<=50:
    print("you need to work hard C GRADE")
elif persentage>50 and persentage<=75:
    print("you can do it better  B GARDE ")
elif persentage>=75 and persentage<=100:
    print(" good keep learnig A GRADE ")
else:
    print("please enterr the right value")

enter your marks or english25
enter your marks or hindi76
enter your marks or maths99
enter your marks or science98
enter your marks or social science69
your average marks is 73.4
you can do it better  B GARDE

In [8]:
x=int(input("enter your average marks"))
if x<33:
    print("you are fail")
elif x>=33 and x<=50:
    print("you need to work hard")
elif x>50 and x<=75:
    print("you can do it better")
elif x>=75 and x<=100:
    print("good keep learning")
else:
    print("please enterr the right value")

enter your average marks80
good keep learning

In [16]:
def quote():
    x=int(input("enter your average marks"))
    if x<33:
        print("you are fail")
    elif x>=33 and x<=50:
        print("you need to work hard")
    elif x>50 and x<=75:
        print("you can do it better")
    elif x>=75 and x<=100:
        print("good keep learning")
    else:
        print("please enterr the right value")

In [17]:
quote

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\umar\\anaconda files\\ML DATASETS\\sql project book sales (satish sir)\Customers (1).csv")

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\umar\AppData\Local\Temp\ipykernel_14952\3917496438.py:1: SyntaxWarning: invalid escape sequence '\C'
  df=pd.read_csv("C:\\Users\\umar\\anaconda files\\ML DATASETS\\sql project book sales (satish sir)\Customers (1).csv")

In [9]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [11]:
df.info

<bound method DataFrame.info of      Customer_ID              Name                               Email  \
0              1  Deborah Griffith         balljoseph@wright-keith.net
1              2  Crystal Clements          kimberlybennett@curtis.com
2              3      Susan Fuller     beanmichael@burnett-stewart.net
3              4     Jamie Ramirez               amandahood@warren.com
4              5     Marcus Murphy                connerjohn@yahoo.com
..           ...               ...                                 ...
495          496    Michelle Myers        patricia02@vega-callahan.com
496          497       Shane Klein  murphytheodore@rodriguez-lopez.biz
497          498   Brianna Fischer            jessicacoleman@yahoo.com
498          499    Melissa Curtis           suzannemartinez@gmail.com
499          500        James York              maydavid@maldonado.org

          Phone             City               Country
0    1234567891  South Craigfort               Denmark
1    1234567892   East Derekberg             Nicaragua
2    1234567893       Austinbury     Equatorial Guinea
3    1234567894       Dianamouth              Slovenia
4    1234567895        Smithbury         Guinea-Bissau
..          ...              ...                   ...
495  1234568386        Davidview  Netherlands Antilles
496  1234568387  West Billymouth         Cote d'Ivoire
497  1234568388       Angelatown             Gibraltar
498  1234568389       Ashleyport                Monaco
499  1234568390      Port Angela               Moldova

[500 rows x 6 columns]>

In [14]:
print(df.dtypes)

Customer_ID     int64
Name           object
Email          object
Phone           int64
City           object
Country        object
dtype: object