# ADD TWO NUMBERS IN PYTHON

SOL1 WITH PRE DEFINED VARIABLES

In [1]:
a=9
b=7
c=a+b
print(c)

16

SOL2 TAKING INPUT BY USER

In [3]:
num1=float(input("enter ist number"))
num2=float(input("enter 2nd number") ) 
print(num1+num2)

enter ist number8
enter 2nd number5
13.0

# CALCULATING SQUARE ROOT IN PYTHON PROGRAM

SOL1 (USING EXPONENTIATION)

In [5]:
NUM=64
SR=NUM**(1/2)
print(SR)

8.0

In [8]:
NUM=int(input("enter the number"))
sq=NUM**(1/2)
print(sq)

enter the number81
9.0

SOL2 USING MATHS MODULE

In [10]:
import math
num=int(input("enter teh number here"))
sq=math.sqrt(num)
print(sq)

enter teh number here49
7.0

# CALCULATING AREA OF TRIANGLE

In [15]:
base =float(input("please enter the base"))
height =float(input("please enter the height"))
area=(1/2)*base*height
print("the area of triangle is",area)

please enter the base7
please enter the height8
the area of triangle is 28.0

# SWAPPING TWO VARIABLES

WITHOUT USING 3RD VARIABLE

In [17]:
x=2
y=3
x,y=y,x
print("the value of x is",x)
print("the value of y is",y)

the value of x is 3
the value of y is 2

# PROGRAMS TO CONVERT KM INTO MILES

In [22]:
km=float(input("enter km"))
con=km*0.62
print(km,"kms in miles will be",con,"miles")

enter km5
5.0 kms in miles will be 3.1 miles

# PYHTON PROGRAM TO CHECK IF A NUMBER IS POSITIVE,NEGATIVE AND ZERO.

In [3]:
num=int(input("enter the number"))
if num>0:
    print("number is positive")
elif num==0:
    print("number is neutral")
else:
    print("it is an negative number")

enter the number-7
it is an negative number

# IS A NUMBER ODD OR EVEN

# x=int(input("enter the number"))
if x%2==0:
    print("even")
else:
    print("odd")

# CHECKING LEAP YEAR

In [1]:
year=int(input("enter the year"))
if year%4==0:
    print("yes it is a leap year")
else:
    print("it is not a leap year")

enter the year2020
yes it is a leap year

In [4]:
year=int(input("enter the year"))
lot=year//100
if lot%4==0:
    print("leap")
else:
    print("no")

enter the year2020
leap

# CHECKING THE LARGEST NUMBER

TAKING INPUT FROM USER

In [12]:
num1=int(input("enter the no 1  "))
num2=int(input("enter the no 2  "))
num3=int(input("enter the no 3  "))
if num1>num2 and num1>num3:
    print("num1 is largest")
elif num2>num1 and num2>num3:
    print("num2 is largest")
elif num1==num2:
    print("error")
elif num1== num3:
    print("error")
else:
    print("num3 is largest")

enter the no 1  2
enter the no 2  2
enter the no 3  4
error

In [10]:
num1=int(input("enter the number"))
print("num1 is ",num1)
num2=int(input("enter the number"))
print("num2 is ",num2)
num3=int(input("enter the number"))
print("num3 is",num3)

if num1>num2 and num1>num3:
    print("num1 is greatest")
elif num2>num1 and num2>num3:
    print("num2 is greatesr")
else:
    print("num3 is greatest")

enter the number3
num1 is  3
enter the number5
num2 is  5
enter the number6
num3 is 6
num3 is greatest

# PYHTON PROGRAM TO CHECK PRIME NUMBER

In [13]:
num=int(input("enter the number"))
if num==1:
    print("not p")
for i in range (2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

enter the number7
prime

In [18]:
n=int(input("enter the number"))

for i in range (2,n):
    if n%i==0:
        print("not a prime number")
        break
        
else:
    print("it is a prime number")

enter the number5
it is a prime number

# FOR PRINTING A RANDOM NUMBER

In [3]:
import random

In [6]:
num=random.randint(1,10)
print(num)

1

In [1]:
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [1]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [19]:
import random

In [20]:
n=random.randint(1,100)
print(n)

88

# printing prime number in a particular inetrval