# Tuple in pyhton

A tuple in Python is a built-in, immutable, ordered sequence type that can store a collection of items.
It is one of Pythonâ€™s core data structures, along with lists, sets, and dictionaries.

Key Characteristics

**Ordered Collection**

The elements have a fixed order.

The position (index) of each element is maintained.

Indexing starts from 0 for the first element.

**Immutable**

Once a tuple is created, its elements cannot be changed, added, or removed.

This immutability makes tuples hashable (if they contain only hashable items), meaning they can be used as keys in dictionaries and stored in sets.

**Heterogeneous Data**

Tuples can hold elements of different data types: integers, strings, floats, booleans, objects, even other tuples and lists.

**Allows Duplicates**

Tuples can contain the same value multiple times.

**Lightweight & Faster**

Tuples are generally faster to access and iterate compared to lists, because of immutability and a smaller memory footprint.

# Creating a  tuple

In [2]:
MY_TUPLE=(1,2,3,4)
print(MY_TUPLE)
print(type(MY_TUPLE))

(1, 2, 3, 4)
<class 'tuple'>

# Tuple with mixed Datatypes

In [3]:
my_tuple=(1,"hello",1.2)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 1.2)
<class 'tuple'>

# Empty tuple

In [4]:
t=()
print(t)

()

# Nesting of tuple

In [5]:
X=("APPLE",[1,2,3],(1,2,3))
print(X)
print(type(X))

('APPLE', [1, 2, 3], (1, 2, 3))
<class 'tuple'>

# Creating a tuple with one element

In [7]:
MYTUPLE=("UMAR")
print(MYTUPLE)
print(type(MYTUPLE))

UMAR
<class 'str'>

In [9]:
YTUPLE=("UMAR",)
print(MYTUPLE)
print(type(YTUPLE))

UMAR
<class 'tuple'>

# The tuple constructor

In [14]:
thistuple=tuple((1,2))
print(thistuple)
print(type(thistuple))

(1, 2)
<class 'tuple'>

In [1]:
thistuple=list((1,2))
print(thistuple)
print(type(thistuple))

[1, 2]
<class 'list'>

In [2]:
thistuple=tuple(("a"))
print(thistuple)
print(type(thistuple))

('a',)
<class 'tuple'>

# Concatination of tuples

In [1]:
t=(1,2,3,4,5)
t1=(6,7,8,9,0)
print(t+t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

# Adding tuple

In [21]:
t1=("umar","alam")
t2=("imran","alam")
t3=(t1+t2)
print(t3)

('umar', 'alam', 'imran', 'alam')

In [22]:
t1=(2,3)
t2=(5,6)
t3=(t1+t2)
print(t3)

(2, 3, 5, 6)

# Multiply tuple

In [2]:
x=("apple","boy","cat","rat")
y=x*2
print(y)

('apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat')

In [3]:
x=("apple","boy","cat","rat")
y=x*3
print(y)
print()

('apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat')

# Length fo the tuple

In [4]:
x=("apple","boy","cat","rat")
print(len(x))

4

In [5]:
X=("APPLE",[1,2,3],(1,2,3))
print(len(X))

3

In [7]:
n=(4,5,6,3,4,5,8,6,4,0,97,8,6,5,56,44,33,55,66)
print(len(n))

19

# Count() method

In Python, the count() method is a built-in function of sequence types (like tuples, lists, and strings) that returns the number of times a specified value or substring appears in the sequence.

In [13]:
n=(4,5,6,3,4,5,8,6,4,0,97,8,6,5,56,44,33,55,66)
print(n)
print(n.count(4))
print(n.count(3))

(4, 5, 6, 3, 4, 5, 8, 6, 4, 0, 97, 8, 6, 5, 56, 44, 33, 55, 66)
3
1

In [1]:
#for list

fruits = ["apple", "banana", "apple", "cherry"]
print(fruits.count("apple"))   # 2
print(fruits.count("orange"))  # 0

2
0

In [2]:
#for str

text = "banana"
print(text.count("a"))       # 3
print(text.count("na"))      # 2
print(text.count("na", 3))   # 1  (search starts from index 3)

3
2
1

In [3]:
#for tuple

numbers = (1, 2, 2, 3, 2, 4)
print(numbers.count(2))   # 3
print(numbers.count(5))   # 0

3
0

# Indexing

Indexing is a way to access individual elements of a sequence (like a tuple, list, or string) by their position (index number).

In [20]:
x=("apple","boy","cat","rat")
print(x[2])

cat

In [19]:
a=(22,33,44,55,66,77,88,99)
print(a[3])

55

In [21]:
a=(22,33,44,55,66,77,88,99)
print(a[-3])

77

In [22]:
x=("apple","boy","cat","rat")
print(x[-2])

cat

# index() method

The index() method in a tuple returns the position (index number) of the first occurrence of a specified value.

In [14]:
x=("apple","boy","cat","rat")
print(x.index("boy"))

1

In [16]:
a=(12,32,45,34,"code","program","pyhton")
b=a.index("program")
print(b)

5

# Slicing

Slicing is a way to extract a part (or subset) of a sequence (like a list, tuple, or string) using start, stop, and step positions.

In [23]:
a=(22,33,44,55,66,77,88,99)
print(a[0:3])

(22, 33, 44)

In [24]:
a=(22,33,44,55,66,77,88,99)
print(a[0:])

(22, 33, 44, 55, 66, 77, 88, 99)

In [25]:
a=(22,33,44,55,66,77,88,99)
print(a[:7])

(22, 33, 44, 55, 66, 77, 88)

In [26]:
a=(22,33,44,55,66,77,88,99)
print(a[:])
print(len(a))

(22, 33, 44, 55, 66, 77, 88, 99)
8

In [27]:
a=(22,33,44,55,66,77,88,99)
print(a[::2])

(22, 44, 66, 88)

# Reversing a tuple

Tuples in Python are immutable, so they donâ€™t have a built-in reverse() method like lists.
    
But you can still reverse their order using these approaches:

In [28]:
a=(22,33,44,55,66,77,88,99)
print(a[::-1])

(99, 88, 77, 66, 55, 44, 33, 22)

In [26]:
## WRITE THE OUTPUT OF THE FOLLOWING CODE
t=(1,2,3,4,5,6,7,8,9)
print(t[::])
print(t[3:])
print(t[:7])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7)
()

# Duplicate are allowed in tuples

In [32]:
a=(1,2,3,4,2,3,4,5,3,6,4,56,)
print(a)
print(type(a))

(1, 2, 3, 4, 2, 3, 4, 5, 3, 6, 4, 56)
<class 'tuple'>

# Altering the tuple

ONCE A TUPLE IS CREATED YOU CANNOT CHANGE THE VALUS OF A TUPLE. TUPLES ARE IMMUTABLE AND UN CHANGABLE

CONVERT A TUPLE INTO A LIST TO CHNAGE ITS VALUES OR ELEMENTS

In [33]:
x=(1,2,3,4,5,6,7)
y=list(x)
y[2]="three"
x=tuple(y)
print(x)

(1, 2, 'three', 4, 5, 6, 7)

In [6]:
x=(1,2,3,4,5,6,7)
y=list(x)
y[2]="three"
z=tuple(y)
print(z)

(1, 2, 'three', 4, 5, 6, 7)

# Adding items in tuples

SINCE TUPLE IS IMMUTABLE THEY DONOT HAVE A BUILT IN APPEND METHOD ,BUT THERE A ANOTHER WAY TO ADD ITEM IN TUPLE

In [34]:
x=(1,2,3,4,5,6)
y=list(x)
y.append(7)
x=tuple(y)
print(x)

(1, 2, 3, 4, 5, 6, 7)

In [7]:
x=(1,2,3,4,5,6)
y=list(x)
y.append(7)
z=tuple(y)
print(z)

(1, 2, 3, 4, 5, 6, 7)

# Removing items

AS TUPLE IS IMMUTABLE SO WE CANNOT CHANGE TUPLE BUT THERE IS A JUGAD TO CHANGE  TUPLE .WE WILL CONVERT TUPLE INTO LIST IST
THEN WE WIL BW ABLE TO CHNAGE.

In [37]:
t1=("u","s")
t2=list(t1)
t2.remove("s")
t1=tuple(t2)
print(t1)

('u',)

In [9]:
h=("i","s")
i=list(h)
i.remove("i")
h=tuple(i)
print(h)

('s',)

In [3]:
h=("u","s")
k=list(h)
k.remove("s")
j=tuple(k)
print(j)
print(type(j))

('u',)
<class 'tuple'>

# Del keyword

THE DEL KKEYWORD CAN DELETE TUPLE PERMANENTLY

In [40]:
a=(1,2,3,"a","b","c")
del a
print(a)

NameError: name 'a' is not defined

In [20]:
"""Convert a list into tuple and  reverse it"""
a=[1,2,3,"a","b","c"]

b=tuple(a)
c=b[::-1]
print(b)
print(c)
print(type(b))

(1, 2, 3, 'a', 'b', 'c')
('c', 'b', 'a', 3, 2, 1)
<class 'tuple'>

In [ ]:
"""WRITE A PYTHON PROGRAM TO FIND REPEATED ITEMS IN PROGRAM"""

x=(2,4,5,6,2,4,5,7,4)
print(x)
print(count)

In [37]:
"""WRITE A PYHTON PROGRA TO ACCEPT 5 NUMBER FORM THE USER AND STORE IN TUPLE"""

d=[]
for i in range(5):
    d.append(int(input("enter the no.s")))
    

t=tuple(d)
print(t)
print(type(t))

enter the no.s 1
enter the no.s 2
enter the no.s 3
enter the no.s 4
enter the no.s 5

(1, 2, 3, 4, 5)
<class 'tuple'>

In [38]:
# Accept 5 numbers from user and store in a tuple

numbers = []  # temporary list to collect numbers

for i in range(5):
    num = int(input(f"Enter number {i+1}: "))
    numbers.append(num)  # add to list

numbers_tuple = tuple(numbers)  # convert list to tuple

print("The tuple is:", numbers_tuple)

Enter number 1:  1
Enter number 2:  2
Enter number 3:  3
Enter number 4:  4
Enter number 5:  5

The tuple is: (1, 2, 3, 4, 5)

### Lecture-2

# max in tuple

In [1]:
# Using with a tuple:

nums = (5, 9, 2, 12, 7)
print(max(nums))  # Output: 12

12

In [2]:
# Using with multiple values:
print(max(3, 7, 1, 9))  # Output: 9

9

In [3]:
str=("umar","aalam","sun","universe","zone")
print(max(str))
#it is considering the ist  letter no. as paaarameter like a=1,b=2 and so on.

zone

In [4]:
str=("umar","aalam","sun","universe","zone")
print(max(str,key=len))
#it is analusyzing based on len of word

universe

# min() function

In [6]:
# Using with a tuple:

nums = (5, 9, 2, 12, 7)
print(min(nums))  # Output: 12

2

In [7]:
# Using with multiple values:
print(min(3, 7, 1, 9))  # Output: 9

1

In [8]:
str=("umar","aalam","sun","universe","zone")
print(min(str))
#it is considering the ist  letter no. as paaarameter like a=1,b=2 and so on.

aalam

In [9]:
str=("umar","aalam","sun","universe","zone")
print(min(str,key=len))
#it is analusyzing based on len of word

sun

# Unpacking to a tuple

Unpacking to a tuple in Python means taking elements from an iterable (like a list, string, range, or even another tuple) and storing them inside variables â€” 

which can then be collected into a tuple again if needed.

In [11]:
#If the number of variables matches the number of elements in the tuple, Python assigns them in order:

t = (10, 20, 30)
a, b, c = t
print(a, b, c)

10 20 30

In [12]:
#using asterisk

t = (1, 2, 3, 4, 5)
a, *b, c = t
print(a)  # 1
print(b)  # [2, 3, 4]
print(c)  # 5

1
[2, 3, 4]
5

In [14]:
#using asterisk

t = (1, 2, 3, 4, 5)
a, b, *c = t
print(a)  # 1
print(b)  # [2, 3, 4]
print(c)  # 5

1
2
[3, 4, 5]

In [27]:
"""sort a tuple"""

a=(2,3,5,6,7,4,3,6,7,8,5,4,22,3,5,3,5,6)


b=list(a)
print(b)

b.sort()
print(b)

a=tuple(b)
print(a)

[2, 3, 5, 6, 7, 4, 3, 6, 7, 8, 5, 4, 22, 3, 5, 3, 5, 6]
[2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 8, 22]
(2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 8, 22)

# Using loops in tuple

In [43]:
"""Sepearte positive and negative int from tuple"""
a=(2,3,-5,6,7,-4,3,6,7,-8,-5,4,22,3,5,3,5,-6)
n=list(a)

x=[]
y=[]

for i in n:
    if i>=1:
        x.append(i)
    elif i<1:
        y.append(i)
    else:
        pass

print(x)
print(y)

#now converting to tuple

x=tuple(x)
y=tuple(y)

print(x)
print(y)

[2, 3, 6, 7, 3, 6, 7, 4, 22, 3, 5, 3, 5]
[-5, -4, -8, -5, -6]
(2, 3, 6, 7, 3, 6, 7, 4, 22, 3, 5, 3, 5)
(-5, -4, -8, -5, -6)

In [45]:
#Alternate way

a = (2, 3, -5, 6, 7, -4, 3, 6, 7, -8, -5, 4, 22, 3, 5, 3, 5, -6)
n = list(a)

x = []
y = []

for i in range(len(n)):
    if n[i] >= 1:
        x.append(n[i])   # positive
    else:
        y.append(n[i])   # negative

print("Positive numbers:", x)
print("Negative numbers:", y)


#now converting to tuple

x=tuple(x)
y=tuple(y)

print("Positive numbers:", x)
print("Negative numbers:", y)

Positive numbers: [2, 3, 6, 7, 3, 6, 7, 4, 22, 3, 5, 3, 5]
Negative numbers: [-5, -4, -8, -5, -6]
Positive numbers: (2, 3, 6, 7, 3, 6, 7, 4, 22, 3, 5, 3, 5)
Negative numbers: (-5, -4, -8, -5, -6)

In [51]:
"""Multiply adjacent elements of tuple"""

a=(3,5,6,7,3,2,4,5)
b=list(a)

n=[]

for i in range(len(a)-1):
    x=b[i]*b[i+1]
    n.append(x)

print(n)

print(tuple(n))

[15, 30, 42, 21, 6, 8, 20]
(15, 30, 42, 21, 6, 8, 20)

In [68]:
"""Orignal list of tuple  [(1,2),(3,4),(5,6)]
Convert into list of list [[1,2],[3,4],[5,6]]"""

lt= [(1,2),(3,4),(5,6)]

ll=[]

ll0=list(lt[0])
ll1=list(lt[1])
ll2=list(lt[2])

ll.append(ll0)
ll.append(ll1)
ll.append(ll2)

print(ll)

[[1, 2], [3, 4], [5, 6]]

In [63]:
#Other way to do this

"""Orignal list of tuple  [(1,2),(3,4),(5,6)]
Convert into list of list [[1,2],[3,4],[5,6]]"""

lt= [(1,2),(3,4),(5,6)]

ll=[]

for i in range(len(lt)):
    ll.append(list(lt[i]))
    
print(lt)
print(ll)

[(1, 2), (3, 4), (5, 6)]
[[1, 2], [3, 4], [5, 6]]

In [77]:
"""Orignal list of tuple  [(1,2),(3,4),(5,6)]
Convert into list of list [3,7,11]"""

l= [(1,2),(3,4),(5,6)]
x=[]

for i in range(len(l)):
    j=l[i]
    k=j[0]+j[1]
    x.append(k)
    
print(x)

[3, 7, 11]

In [78]:
l = [(1, 2), (3, 4), (5, 6)]
x = []

for a, b in l:
    x.append(a + b)

print(x)

[3, 7, 11]

In [80]:
"""Take input from user like no. of element in tuple then store all the elements i tuple"""

n=int(input("enter how many elemnts u want in tuple"))
l=[]

for i in range(n):
    elements=int(input("enter the elemnts now"))
    l.append(elements)
    
print("The tuple u made is here",tuple(l))

enter how many elemnts u want in tuple 4
enter the elemnts now 22
enter the elemnts now 33
enter the elemnts now 44
enter the elemnts now 55

The tuple u made is here (22, 33, 44, 55)