# INTRODUCTION TO SET

 PERHAOS YOU RECALL LEARNIG ABOUT SET AND SET THEORY AT SOME PPOINT OF TIME IN YOUR MATHEMATICAL EDICATION.
MAYBE YOU EVEN REMEMBER VENN DIAGRAM:

A SET CAN BE THOUGHT OF SIMPLY AS A WELL-DEFINED COLLECTION OF DISTINCT OBJECTS, TYPICALLY CALLED ELEMENT OR MAMBER.
GROUPING OBJECTS IN SET CAN BE USEFULL IN PROGHRAMMING AS WELL, AND PYTHON PROVBIDES A BUILT IN SET TYPE TO DO SO.

SET ARE USED TO STORED MULTIPLE ITEMS IN A SINGLE VARIABLE.

SET IS ONE OF FOUR BUILT IN DATA TYPES I PYTHON USED TO STORE COLLECTION OF DATA, THE ORDER 3 ARE LIST,TUPLE, AND DICTIONARY
,ALLL WITH DIFFERNET QUALITIES AND USAGES.

A SET IS A COLLECTION WHICH IS UNORDERED, UNCHANGABLE,AND UNINDEXED.

# CREATING A SET

In [2]:
a={"animal","ball","cat"}
print(a)
print(type(a))

{'animal', 'cat', 'ball'}
<class 'set'>

# SET ITEMS ARE UNORDERD

In [1]:
a={"animal","ball","cat"}
print(a[2])

TypeError: 'set' object is not subscriptable

# DUPLICATES ARE NOT ALLOWED

In [5]:
a={"animal","ball","cat","cat","animal"}
print(a)
print(type(a))

{'animal', 'cat', 'ball'}
<class 'set'>

# TRUE AND 1 IS CONSIDER AS A SAME VALUE

# GET THE LENGTH OF THE SET

In [6]:
a={"ram","sham","dam","paam","apple","cat","dog","bille"}
print(len(a))

8

# SET ITEMS DATA TYPES

In [7]:
a={1,2,3,4}
b={1.2,2.3,12.3,23.32}
c={"a","b","c","d"}
d={True,False,True}
print(a,b,c,d)

{1, 2, 3, 4} {1.2, 2.3, 12.3, 23.32} {'c', 'd', 'a', 'b'} {False, True}

In [59]:
a={[1,2,3,4]}
print(a)
#we cannot add list in set
#LIST ARE MUTABLE OBJECT IN PYTHON WHEREAS SET IN PYHTON IMMUTABLE AND DOES NOT ALLOW UNHASHABLE OBJECTS.
#THEREFORE, PYTHON DOES NOT ALLOW A SET TO STORE LIST,YOU CANNOT ADD A LIST TO SET.

TypeError: unhashable type: 'list'

In [58]:
a={(1,2,3,4)}
print(a)
#we can add TUPLE in set

{(1, 2, 3, 4)}

# NESTED IS NOT A PROPERTY OF SET

In [12]:
s={{1,2,3,4},{"a","v"}}
print(s)
print(type(s))

TypeError: unhashable type: 'set'

# THE SET CONSTRUCTOR

In [13]:
x=set(("apple","ornge"))
print(x)
print(type(x))

{'ornge', 'apple'}
<class 'set'>

In [14]:
x=("apple","ornge")
print(x)
print(type(x))

('apple', 'ornge')
<class 'tuple'>

# CREATING EMPTY SET

In [19]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

# ACCESS ITEMS

YOU CANNOT ACCESS  ITMES INA SET BY REFFERING INDEX OR KEY.

BUT YOU CAN LOOP THROUGN THE SET ITEMS USING A FIR LOOP, OR ASK IF A SPECIFIC VALUE IS PRESENT IN A SET ,BY SUING THE IN KEYWORD

In [22]:
a={"a","b","c","d"}
for x in a:
    print(x)

c
d
a
b

# CHECKING IA AN ITEM OS PRESENT IN A SET OR NOT

In [25]:
a={"a","b","c","d"}
print("a" in a)

True

In [26]:
a={"a","b","c","d"}
b="c" in a
print(b)

True

# ADD ITEMS

In [29]:
a={"a","b","c","d"}
a.add("e")
print(a)

{'d', 'c', 'a', 'e', 'b'}

In [33]:
x={"data","python","code"}
y={10.20,30,40}
x.update(y)
print(x)

{10.2, 'data', 'python', 40, 'code', 30}

# REMOVE SET ITEMS

In [38]:
n={"data","python","code",10.20,30,40}
(n.remove("code"))
print(n)

{10.2, 'data', 'python', 40, 30}

# YOU CAN ALSO USE THE POP() METHOD TO REMOVE ITEMS BUT THIS WILL REMOVE RANDOM ITEM

In [44]:
n={"data","python","code",10.20,30,40}
n.pop()
print(n)

{'data', 'python', 40, 'code', 30}

# THE CLEAR METHOD EMPTIES THE SET

In [46]:
n={"data","python","code",10.20,30,40}
n.clear()
print(n)

set()

# THE DEL KEY WILL DELETE THE SET COMPLETELY

In [49]:
n={"data","python","code",10.20,30,40}
del n
print(n)

NameError: name 'n' is not defined

# JOIN TWO SET

In [50]:
a={"a","b","c","d"}
b={1,2,3,4}
c=a.union(b)
print(c)

{1, 2, 3, 4, 'd', 'c', 'a', 'b'}

In [51]:
a={"a","b","c","d"}
b={1,2,3,4}
print(a.union(b))

{1, 2, 3, 4, 'd', 'c', 'a', 'b'}

# RETURN IDENTICAL ITEMS FORM 2 SET

In [54]:
set1={10,20,30,40,50}
set2={20,10,40,60,70}
print(set1.intersection(set2))

{40, 10, 20}

In [55]:
set1={10,20,30,40,50}
set2={20,10,40,60,70}
set3=set1.intersection(set2)
print(set3)

{40, 10, 20}

# WRITE A PYTHON PROGRAM TO CHECK MAX AND MIN VALUE OF A SET

In [57]:
setx={2,4,513,10,55,35,34,}
print("The actual value of set is:")
print(setx)
print("The max value of set is:")
print(max(setx))
print("The min value of set is:")
print(min(setx))

The actual value of set is:
{513, 2, 35, 4, 34, 55, 10}
The max value of set is:
513
The min value of set is:
2