# TUPLE IN PYTHON

# CREATING A TUPLE

In [2]:
MY_TUPLE=(1,2,3,4)
print(MY_TUPLE)
print(type(MY_TUPLE))

(1, 2, 3, 4)
<class 'tuple'>

# TUPLE WITH MIXED DATA TYPES

In [3]:
my_tuple=(1,"hello",1.2)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 1.2)
<class 'tuple'>

# Emplty tuple

In [4]:
t=()
print(t)

()

# Nesting of tuple

In [5]:
X=("APPLE",[1,2,3],(1,2,3))
print(X)
print(type(X))

('APPLE', [1, 2, 3], (1, 2, 3))
<class 'tuple'>

# Creating a tuple with one element

In [7]:
MYTUPLE=("UMAR")
print(MYTUPLE)
print(type(MYTUPLE))

UMAR
<class 'str'>

In [9]:
YTUPLE=("UMAR",)
print(MYTUPLE)
print(type(YTUPLE))

UMAR
<class 'tuple'>

# THE TUPLE CONSTRUCTOR

In [14]:
thistuple=tuple((1,2))
print(thistuple)
print(type(thistuple))

(1, 2)
<class 'tuple'>

In [1]:
thistuple=list((1,2))
print(thistuple)
print(type(thistuple))

[1, 2]
<class 'list'>

In [2]:
thistuple=tuple(("a"))
print(thistuple)
print(type(thistuple))

('a',)
<class 'tuple'>

# Concatination of tuples

In [1]:
t=(1,2,3,4,5)
t1=(6,7,8,9,0)
print(t+t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

# Adding tuple

In [21]:
t1=("umar","alam")
t2=("imran","alam")
t3=(t1+t2)
print(t3)

('umar', 'alam', 'imran', 'alam')

In [22]:
t1=(2,3)
t2=(5,6)
t3=(t1+t2)
print(t3)

(2, 3, 5, 6)

# Multiply tuple

In [2]:
x=("apple","boy","cat","rat")
y=x*2
print(y)

('apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat')

In [3]:
x=("apple","boy","cat","rat")
y=x*3
print(y)
print()

('apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat', 'apple', 'boy', 'cat', 'rat')

# Length fo the tuple

In [4]:
x=("apple","boy","cat","rat")
print(len(x))

4

In [5]:
X=("APPLE",[1,2,3],(1,2,3))
print(len(X))

3

In [7]:
n=(4,5,6,3,4,5,8,6,4,0,97,8,6,5,56,44,33,55,66)
print(len(n))

19

# Count() method

In Python, the count() method is a built-in function of sequence types (like tuples, lists, and strings) that returns the number of times a specified value or substring appears in the sequence.

In [13]:
n=(4,5,6,3,4,5,8,6,4,0,97,8,6,5,56,44,33,55,66)
print(n)
print(n.count(4))
print(n.count(3))

(4, 5, 6, 3, 4, 5, 8, 6, 4, 0, 97, 8, 6, 5, 56, 44, 33, 55, 66)
3
1

# Indexing

Indexing is a way to access individual elements of a sequence (like a tuple, list, or string) by their position (index number).

In [20]:
x=("apple","boy","cat","rat")
print(x[2])

cat

In [19]:
a=(22,33,44,55,66,77,88,99)
print(a[3])

55

In [21]:
a=(22,33,44,55,66,77,88,99)
print(a[-3])

77

In [22]:
x=("apple","boy","cat","rat")
print(x[-2])

cat

# index() method

The index() method in a tuple returns the position (index number) of the first occurrence of a specified value.

In [14]:
x=("apple","boy","cat","rat")
print(x.index("boy"))

1

In [16]:
a=(12,32,45,34,"code","program","pyhton")
b=a.index("program")
print(b)

5

# Slicing

Slicing is a way to extract a part (or subset) of a sequence (like a list, tuple, or string) using start, stop, and step positions.

In [23]:
a=(22,33,44,55,66,77,88,99)
print(a[0:3])

(22, 33, 44)

In [24]:
a=(22,33,44,55,66,77,88,99)
print(a[0:])

(22, 33, 44, 55, 66, 77, 88, 99)

In [25]:
a=(22,33,44,55,66,77,88,99)
print(a[:7])

(22, 33, 44, 55, 66, 77, 88)

In [26]:
a=(22,33,44,55,66,77,88,99)
print(a[:])
print(len(a))

(22, 33, 44, 55, 66, 77, 88, 99)
8

In [27]:
a=(22,33,44,55,66,77,88,99)
print(a[::2])

(22, 44, 66, 88)

# Reversing a tuple

Tuples in Python are immutable, so they donâ€™t have a built-in reverse() method like lists.
    
But you can still reverse their order using these approaches:

In [28]:
a=(22,33,44,55,66,77,88,99)
print(a[::-1])

(99, 88, 77, 66, 55, 44, 33, 22)

In [26]:
## WRITE THE OUTPUT OF THE FOLLOWING CODE
t=(1,2,3,4,5,6,7,8,9)
print(t[::])
print(t[3:])
print(t[:7])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7)
()

# Duplicate are allowed in tuples

In [32]:
a=(1,2,3,4,2,3,4,5,3,6,4,56,)
print(a)
print(type(a))

(1, 2, 3, 4, 2, 3, 4, 5, 3, 6, 4, 56)
<class 'tuple'>

# Altering the tuple

ONCE A TUPLE IS CREATED YOU CANNOT CHANGE THE VALUS OF A TUPLE. TUPLES ARE IMMUTABLE AND UN CHANGABLE

CONVERT A TUPLE INTO A LIST TO CHNAGE ITS VALUES OR ELEMENTS

In [33]:
x=(1,2,3,4,5,6,7)
y=list(x)
y[2]="three"
x=tuple(y)
print(x)

(1, 2, 'three', 4, 5, 6, 7)

In [6]:
x=(1,2,3,4,5,6,7)
y=list(x)
y[2]="three"
z=tuple(y)
print(z)

(1, 2, 'three', 4, 5, 6, 7)

# Adding items in tuples

SINCE TUPLE IS IMMUTABLE THEY DONOT HAVE A BUILT IN APPEND METHOD ,BUT THERE A ANOTHER WAY TO ADD ITEM IN TUPLE

In [34]:
x=(1,2,3,4,5,6)
y=list(x)
y.append(7)
x=tuple(y)
print(x)

(1, 2, 3, 4, 5, 6, 7)

In [7]:
x=(1,2,3,4,5,6)
y=list(x)
y.append(7)
z=tuple(y)
print(z)

(1, 2, 3, 4, 5, 6, 7)

# Removing items

AS TUPLE IS IMMUTABLE SO WE CANNOT CHANGE TUPLE BUT THERE IS A JUGAD TO CHANGE  TUPLE .WE WILL CONVERT TUPLE INTO LIST IST
THEN WE WIL BW ABLE TO CHNAGE.

In [37]:
t1=("u","s")
t2=list(t1)
t2.remove("s")
t1=tuple(t2)
print(t1)

('u',)

In [9]:
h=("i","s")
i=list(h)
i.remove("i")
h=tuple(i)
print(h)

('s',)

In [3]:
h=("u","s")
k=list(h)
k.remove("s")
j=tuple(k)
print(j)
print(type(j))

('u',)
<class 'tuple'>

# Del keyword

THE DEL KKEYWORD CAN DELETE TUPLE PERMANENTLY

In [40]:
a=(1,2,3,"a","b","c")
del a
print(a)

NameError: name 'a' is not defined

In [20]:
"""Convert a list into tuple and  reverse it"""
a=[1,2,3,"a","b","c"]

b=tuple(a)
c=b[::-1]
print(b)
print(c)
print(type(b))

(1, 2, 3, 'a', 'b', 'c')
('c', 'b', 'a', 3, 2, 1)
<class 'tuple'>

In [ ]:
"""WRITE A PYTHON PROGRAM TO FIND REPEATED ITEMS IN PROGRAM"""

x=(2,4,5,6,2,4,5,7,4)
print(x)
print(count)

In [37]:
"""WRITE A PYHTON PROGRA TO ACCEPT 5 NUMBER FORM THE USER AND STORE IN TUPLE"""

d=[]
for i in range(5):
    d.append(int(input("enter the no.s")))
    

t=tuple(d)
print(t)
print(type(t))

enter the no.s 1
enter the no.s 2
enter the no.s 3
enter the no.s 4
enter the no.s 5

(1, 2, 3, 4, 5)
<class 'tuple'>

In [38]:
# Accept 5 numbers from user and store in a tuple

numbers = []  # temporary list to collect numbers

for i in range(5):
    num = int(input(f"Enter number {i+1}: "))
    numbers.append(num)  # add to list

numbers_tuple = tuple(numbers)  # convert list to tuple

print("The tuple is:", numbers_tuple)

Enter number 1:  1
Enter number 2:  2
Enter number 3:  3
Enter number 4:  4
Enter number 5:  5

The tuple is: (1, 2, 3, 4, 5)