# List In Pyhton

LIST ARE USED TO STORE MULTIPLE ITEMS IN A SINGLE VARIABLE.

LIST ARE ONE OF 4 DATA TYPES IN PYTHON USED TO STORE COLLECTECTION OF DATA OTHER ARE TUPPLE,SET,DITCIONARY
,ALL WITH  DIF USAGES OR QUALITIES

LIST ARE THE SIMPLST CONTAINER THAT ARE AN INTEGRAL PART OF A PYTHON LANGUAGEL LIST NEED NOT TO BE HOMOGENIOUS ALWLAYS
WHICH MAKES IT MORE POWERFUL TOOLS IN PYTHON.
A SINGLE LIST MAY CONTAIN DATA TYPES LIKE INTEGERS, STRINGS, AS WELL AS OBJECTS.LIST SRE MUTABLE AND HENCE THEY CAN BE
ALTERD EVEN AFTER THEIR CREATION.

LIST ITEMS ARE ORDERED, CHANGABLE, AND ALLOW DUPLICATE VALUES.

# Creating a List In Pyhton

In [4]:
MYLIST=["APPLE","BANANA","GRAPES"]
print(MYLIST)
print(type(MYLIST))

['APPLE', 'BANANA', 'GRAPES']
<class 'list'>

# Allow duplicate

In [5]:
mylist=["apple","banana","grapes","banana","apple"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'grapes', 'banana', 'apple']
<class 'list'>

# List items - Data types

In [2]:
list1=["apple","banana","grapes"]
list2=[1,2,3,4,5,]
list3=[2.3,3.4,2.3,4.5,5.2]
list4=[True,False,True]
print(list1)
print(type(list1))
print(list2)
print(type(list2))
print(list3)
print(type(list3))
print(list4)
print(type(list4))

['apple', 'banana', 'grapes']
<class 'list'>
[1, 2, 3, 4, 5]
<class 'list'>
[2.3, 3.4, 2.3, 4.5, 5.2]
<class 'list'>
[True, False, True]
<class 'list'>

In [7]:
a=[1,2,3,4,5,True,False,2.2,4.5,5.6,"apple","banana"]
print(a)
print(type(a))

[1, 2, 3, 4, 5, True, False, 2.2, 4.5, 5.6, 'apple', 'banana']
<class 'list'>

# List lenght

In [8]:
x=[1,2,3,4,5,True,False,2.2,4.5,5.6,"apple","banana"]
print(len(x))

12

# Indexing

Indexing is a way to access individual elements of a sequence (like a tuple, list, or string) by their position (index number).

In [10]:
list=[22,33,44,55,66,77,88,99,1,2,3,4,5,6,7,8,9]
print(list[3])

55

In [12]:
list=["a","s","d","f","g","h","h","j","k","l"]
print(list[5])

h

In [15]:
list=[1,2,3,4,5,6,7,8,9,4,3,4,5,7,4,6]
print(list[-10])

7

In [14]:
list=["a","s","d","f","g","h","h","j","k","l"]
print(list[-4])

h

# Slicing of a list

In [16]:
l=[23,3,44,5,65,34,4,5,6,3,5,6,3,6,4,6,4,4,544]
print(l[0:4])

[23, 3, 44, 5]

In [19]:
l=[2,3,4,3,4, 5,6,6,6,534,5435,66343,46,43566,9]
print(l[2:4])

[4, 3]

In [20]:
l=[23,3,44,5,65,34,4,5,6,3,5,6,3,6,4,6,4,4,544]
print(l[2:10:2])

[44, 65, 4, 6]

In [21]:
l=[2,3,4,3,4, 5,6,6,6,534,5435,66343,46,43566,9]
print(l[2:12:3])

[4, 5, 6, 66343]

# Reversing a list

In [27]:
x=[1,2,3,4,5,True,False,2.2,4.5,5.6,"apple","banana"]
x.reverse()
print(x)

['banana', 'apple', 5.6, 4.5, 2.2, False, True, 5, 4, 3, 2, 1]

In [4]:
x=[1,2,3,4,5,True,False,2.2,4.5,5.6,"apple","banana"]
print(x[::-1])

['banana', 'apple', 5.6, 4.5, 2.2, False, True, 5, 4, 3, 2, 1]

In [7]:
"""Divide list into two list and reverse it"""

l=[2,3,4,5,61,"apple","cat","dog"]

a=l[:5]
print(a)

b=l[5:]
print(b)

print(a[::-1])
print(b[::-1])

[2, 3, 4, 5, 61]
['apple', 'cat', 'dog']
[61, 5, 4, 3, 2]
['dog', 'cat', 'apple']

# Change list items

In [5]:
thislist=["apple","banana","cherry"]
thislist[2]="protein"
print(thislist)

['apple', 'banana', 'protein']

In [6]:
thislist=["apple","banana","cherry"]
thislist[0]="good for digestion"
print(thislist)

['good for digestion', 'banana', 'cherry']

# Change a range of items values

In [7]:
x=[1,2,3,4,5,6,7]
x[1:2]="two","three"
print(x)

[1, 'two', 'three', 3, 4, 5, 6, 7]

# append() method

The append() method adds an item to the end of the list without affecting any existing elements.

In [8]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [9]:
x=[1,2,3,4,5,6,7]
x.append(8)
print(x)#append always add the item in last

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
#apppending a list into list
x=[1,2,3,4,5,6,7]
print(x)
y=["umar","alam"]
x.append(y)
print(x)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, ['umar', 'alam']]

In [12]:
#we can give only one argument in apend
x=[1,2,3,4,5,6,7]
print(x)
x.append(4,3)
print(x)

[1, 2, 3, 4, 5, 6, 7]

TypeError: list.append() takes exactly one argument (2 given)

In [13]:
#ways to apppend 2 or more element together
x=[1,2,3,4,5,6,7]
print(x)
r=(4,3)
x.append(r)
print(x)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, (4, 3)]

# extend() method

In Python, the extend() method is used with lists to add all the elements of an iterable (like another list, tuple, set, or string) to the end of the list in a normal from.

In [15]:
#ways to apppend 2 or more element together
x=[1,2,3,4,5,6,7]
print(x)
r=(4,3)
x.extend(r)
print(x)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 4, 3]

### Lecture-2

# insert() method

The insert() method is used to insert an element at a specific position in a list.

In [16]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'orange')
print(fruits)
# Output: ['apple', 'orange', 'banana', 'cherry']

['apple', 'orange', 'banana', 'cherry']

In [19]:
#inserting  54 at the place of 45 index 2
l=[23,43,45,32,11,23]
print(l)
l.insert(2,54)
print(l)

[23, 43, 45, 32, 11, 23]
[23, 43, 54, 45, 32, 11, 23]

In [20]:
#inserting  forty_five at index no.2 
l=[23,43,45,32,11,23]
print(l)
l.insert(2,"forty_five")
print(l)

[23, 43, 45, 32, 11, 23]
[23, 43, 'forty_five', 45, 32, 11, 23]

# remove() method

In Python, the remove() method is a built-in list method used to search for the first occurrence of a specified value (element) in the list and delete it.

* It does not use an index; instead, it finds the value and removes it.
* If the value appears multiple times, only the first one is removed.
* If the value is not found, Python raises a ValueError saying that the item is not in the list.

In [13]:
thislist=["apple","banana","cherry"]
thislist.remove("cherry")
print(thislist)

['apple', 'banana']

In [1]:
x=[1,2,3,4,5,6,7]
print(x)
x.remove(6)
print(x)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 7]

In [25]:
# appending lists into list

x=[1,2,3,4,5,6,7]
y=["apple","banana"]
x.append(y)
print(x)
z=[45,333,43]
x.append(z)
print(x)

[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana']]
[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana'], [45, 333, 43]]

In [24]:
#now i want  to remove list out of list
x=[1,2,3,4,5,6,7]
y=["apple","banana"]
x.append(y)
print(x)
z=[45,333,43]
x.append(z)
print(x)

x.remove(z)
print(x)

[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana']]
[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana'], [45, 333, 43]]
[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana']]

# pop() method

The pop() method removes an item at a specified index from a list and gives it back (returns it). If no index is given, it removes the last item by default.

In [26]:
#poping index 2 which is 24
a=[33,34,24,56,78,65,45,32]
print(a)
a.pop(2)
print(a)

[33, 34, 24, 56, 78, 65, 45, 32]
[33, 34, 56, 78, 65, 45, 32]

In [30]:
#if we donot give an index it will  delete the last elemnet
a=[33,34,24,56,78,65,45,32]
print(a)
a.pop()
print(a)

[33, 34, 24, 56, 78, 65, 45, 32]
[33, 34, 24, 56, 78, 65, 45]

In [31]:
# appending lists into list

x=[1,2,3,4,5,6,7]
y=["apple","banana"]
x.append(y)
print(x)
z=[45,333,43]
x.append(z)
print(x)

[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana']]
[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana'], [45, 333, 43]]

In [32]:
#now i want  to pop list out of list
x=[1,2,3,4,5,6,7]
y=["apple","banana"]
x.append(y)
print(x)
z=[45,333,43]
x.append(z)
print(x)

x.pop(7)
print(x)

[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana']]
[1, 2, 3, 4, 5, 6, 7, ['apple', 'banana'], [45, 333, 43]]
[1, 2, 3, 4, 5, 6, 7, [45, 333, 43]]

# clear() method

The clear() method deletes all items from the list, but the list itself still exists.

In [33]:
fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)  # Output: []

[]

In [37]:
a=[1,2,3,4,5,True,False,2.2,4.5,5.6,"apple","banana"]
(a.clear())
print(a)
len(a)

[]

0

Situation	                         Use

* You want to remove a known value      - 	remove()
* You want to remove item by position/index	-pop()
* You want to empty the entire list -	clear()

# count() method

The count() method returns the number of times a value appears in a list (or other iterable like a string or tuple).

In [38]:
# With List:
colors = ['red', 'blue', 'red', 'green', 'red']
print(colors.count('red'))     # Output: 3
print(colors.count('blue'))    # Output: 1
print(colors.count('yellow'))  # Output: 0

3
1
0

In [39]:
#With String:
text = "banana"
print(text.count('a'))     # Output: 3
print(text.count('na'))    # Output: 2
print(text.count('x'))     # Output: 0

3
2
0

# max() function

The max() function returns the maximum (largest) value from a list, tuple, string, or any other iterable.

It can also take multiple values and return the largest among them.

In [40]:
# Using with a list:

nums = [5, 9, 2, 12, 7]
print(max(nums))  # Output: 12

12

In [41]:
# Using with multiple values:
print(max(3, 7, 1, 9))  # Output: 9

9

In [43]:
str=["umar","aalam","sun","universe","zone"]
print(max(str))
#it is considering the ist  letter no. as paaarameter like a=1,b=2 and so on.

zone

In [48]:
str=["umar","aalam","sun","universe","zone"]
print(max(str,key=len))
#it is analusyzing based on len of word

universe

# min() function

The min() function is used to find the minimum (smallest) item in a list, tuple, string, or among several individual values

In [50]:
# Using with a list:

nums = [5, 9, 2, 12, 7]
print(min(nums))  # Output: 2

2

In [51]:
# Using with multiple values:
print(min(3, 7, 1, 9))  # Output: 1

1

In [52]:
str=["umar","aalam","sun","universe","zone"]
print(min(str))
#it is considering the ist  letter no. as paaarameter like a=1,b=2 and so on.

aalam

In [53]:
str=["umar","aalam","sun","universe","zone"]
print(min(str,key=len))
#it is analusyzing based on len of word

sun

### Lecture-3

# sort() method

sort() in Python is a built-in list method that arranges the elements of the list in a specific order (ascending by default) directly modifying the original list, and can be customized using a key function or reversed order.

In [6]:
n=[2,4,5,7,6,5,4]
print(n)

n.sort()
print(n)

[2, 4, 5, 7, 6, 5, 4]
[2, 4, 4, 5, 5, 6, 7]

In [7]:
n=[2,4,5,7,6,5,4]
print(n)

n.sort(reverse=True)#reverse=True will sort in desc order
print(n)

[2, 4, 5, 7, 6, 5, 4]
[7, 6, 5, 5, 4, 4, 2]

In [8]:
words = ["banana", "apple", "cherry"]
words.sort(key=len)#sorting on the basis on length of str
print(words)  
# Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [9]:
words = ["Banana", "apple", "Cherry"]
words.sort(key=str.lower)
print(words)  
# Output: ['apple', 'Banana', 'Cherry']

['apple', 'Banana', 'Cherry']

# reverse() method

reverse() is a built-in Python list method that reverses the order of elements in the list in place, meaning it changes the original list instead of creating a new one.
    
It does not sort; it just flips the order of items.

In [10]:
numbers = [1, 2, 3, 4]
numbers.reverse()
print(numbers)
# Output: [4, 3, 2, 1]

[4, 3, 2, 1]

In [11]:
words = ["apple", "banana", "cherry"]
words.reverse()
print(words)
# Output: ['cherry', 'banana', 'apple']

['cherry', 'banana', 'apple']

In [13]:
# Difference between reverse() and [::-1]
nums = [10, 20, 30]
rev_copy = nums[::-1]  # Creates a reversed copy
print(rev_copy)  # [30, 20, 10]
print(nums)      # [10, 20, 30] (original unchanged)

nums.reverse()   # Reverses in place
print(nums)      # [30, 20, 10]

[30, 20, 10]
[10, 20, 30]
[30, 20, 10]

# index() method

index() is a built-in Python method that returns the position (index number) of the first occurrence of a specified element in a list, tuple, or string.

In [ ]:
list.index(element, start, end)

Parameters:
element → The value you want to search for (required).

start → The position to start searching from (optional).

end → The position to stop searching (optional, up to but not including end).

In [14]:
fruits = ["apple", "banana", "cherry", "banana"]
pos = fruits.index("banana")
print(pos)  
# Output: 1  (first occurrence)

1

In [15]:
fruits = ["apple", "banana", "cherry", "banana"]
pos = fruits.index("banana", 2)  # Start from index 2
print(pos)  
# Output: 3

3

In [19]:
fruits = ["apple", "banana", "cherry"]
# fruits.index("grape")  # This will raise: ValueError: 'grape' is not in list
pos=fruits.index("Orange")
print(pos)

ValueError: 'Orange' is not in list

In [18]:
text = "hello world"
pos = text.index("o")
print(pos)  
# Output: 4

4

# copy() method

copy() is a built-in Python list (and dictionary, set) method that returns a shallow copy of the original object, meaning it creates a new object with the same elements but does not affect the original when the new one is changed (except for nested objects).

## Why do we need copy method?

In [21]:
L=[34,56,87,54]
l1=[]
l1=L
print(l1)

[34, 56, 87, 54]

In [22]:
L[2]="umar"
print(l1)
#so here we rae changing in L bbut it is also affecting l1 to avoid this we use copy method

[34, 56, 'umar', 54]

In [ ]:
copy method

In [25]:
L=[34,56,87,54]
l1=L.copy()
print(l1)

[34, 56, 87, 54]

In [32]:
l1[2]="umar"
print("l1 list:",l1)
print("L list:",L)
#now we are changing in l1 to wheather it is also making chnage in L

l1 list: [34, 56, 'umar', 54]
L list: [34, 56, 87, 54]

In [1]:
"""Take the input of the list from the user and then reverse it"""

a=[]
n=int(input("enter the no. of element you want in list"))
for i in range(n):
    num=int(input("enter the elemnts"))
    a.append(num)

a.reverse()
print(a)

enter the no. of element you want in list 3
enter the elemnts 3
enter the elemnts 4
enter the elemnts 5

[5, 4, 3]

In [47]:
"""Take the input of the list from the user and then interchange the ist and last elemnt of the list"""

a=[]
n=int(input("enter the no. of elemts  of want in list"))
for  i in range(n):
    a.append(int(input("enter the elements")))

print(a)

tem=a[0]

a[0]=a[-1]
a[-1]=tem

print(a)

enter the no. of elemts  of want in list 4
enter the elements 1
enter the elements 2
enter the elements 3
enter the elements 4

[1, 2, 3, 4]
[4, 2, 3, 1]


# JOIN LIST

In [16]:
list1=[1,2,3]
list2=["apple","banana","cheer"]
print(list1+list2)

[1, 2, 3, 'apple', 'banana', 'cheer']

In [18]:
list1=[1,2,3]
list2=["apple","banana","cheer"]
list3=(list1+list2)
print(list3)

[1, 2, 3, 'apple', 'banana', 'cheer']

# CHECK IF LIST CONTAIN AN ELEMENT OR NOT

In [19]:
list2=["apple","banana","cheer"]
"apple" in list2

True

In [2]:
x=[1,2,3,4,5,6,7]
2 in x

True

In [5]:
list2=["apple","banana","cheer"]
if "aple" in list2:
     print("it is present")
else:
    print("no")

no