# UNIT 2 ASSIGNMENT

In [ ]:
Question-1 wirte a python program to print the folowing str in a specific format

Input: "Twinkle, twinkle, little star,How I wonder what you are!Up above the world so high,Like a diamond in the sky."

Output:
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [8]:
print("Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky")
#we use \n for going in next line

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky

In [ ]:
Question-2 Write a program to calculate the area of a circle 10 ,12, and 25.4 cms

In [13]:
a=10
b=12
c=25.4
area1=3.14*(a**2)
area2=3.14*(b**2)
area3=3.14*(c**2)

print("area of circle1",area1)
print("area of circle2",area2)
print("area of circle3",area3)

area of circle1 314.0
area of circle2 452.16
area of circle3 2025.8024

In [ ]:
Question-3 Write a program to calculate the volume of the sphere with radious 6

In [14]:
r=6
print("volume of sphere is",4/3*3.14*r**3)

volume of sphere is 904.3199999999999

In [ ]:
Question-4 Write a program to calculate the area of trianle accept base and height form user

In [16]:
b=int(input("enter the base"))
h=int(input("enter the height"))

enter the base 6
enter the height 12

In [17]:
area=1/2*b*h
print("area of trianle is",area)

area of trianle is 36.0

In [ ]:
Question-5 Write a program to calculate the simple interest p=100000,r=8%,t=1y

In [21]:
p=100000
r=8
t=1
print("Simple interest calculated is",(p*r*t)/100)

Simple interest calculated is 8000.0

In [ ]:
Question-6 Write a program to convert the distance in feet to inches,yard, and miles

In [24]:
v=int(input("ennter the distance"))

ennter the distance 12

In [25]:
in_inches=v*12
in_yard=v/3
in_miles=v/5280
print(v,"feet in inches will be",in_inches)
print(v,"feet in yard will be",in_yard)
print(v,"feet in miles will be",in_miles)

12 feet in inches will be 144
12 feet in yard will be 4.0
12 feet in miles will be 0.0022727272727272726

In [ ]:
Question-7 Write a program to calculate the hypotenuse of a right angles trianle

In [29]:
from math import sqrt
base=3
height=4
hypotenuse=sqrt(base**2 + height**2)
print("the hypotenuse of a trianle  is",hypotenuse)

the hypotenuse of a trianle  is 5.0

In [ ]:
Question-8 Write a program to swap ro variable

In [31]:
#pyhton program to demonstrate the swapping of two variable
x=3
y=5

#swapping of two vraible using third varibale
temp=x
x=y
y=temp

print("value of x",x)
print("value of y",y)

value of x 5
value of y 3

In [ ]:
Question-9 Write a program to calculate the area of a square side 10 cm

In [32]:
side=10
print("area of square is",side*side)

area of square is 100

In [ ]:
Question-10 Write a program to convert 250kg into gram

In [34]:
v=250
u=v*1000
print(v,"kg","into gram will be",u)

250 kg into gram will be 250000